<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-bulid:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring_mvc_idea-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-bulid:war exploded" />
    </root>
  </artifact>
</component>